@import url(https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.css);
* {
  font-family: "Noto Serif KR", serif;
}
body {
  margin: 20px;
}

.mypost {
  display: flex;
  flex-direction: column;
  border: #ccc 1px solid;
  width: 300px;
  height: 300px;
  align-items: center;
}

#id_comment {
  width: 280px;
  height: 250px;
  background-attachment: local;
  background-image: linear-gradient(to right, white 10px, transparent 10px),
    linear-gradient(to left, white 10px, transparent 10px),
    repeating-linear-gradient(
      white,
      white 30px,
      #ccc 30px,
      #ccc 31px,
      white 31px
    );
  line-height: 31px;
}

#comment-list {
  margin-top: 50px;
}

#id_btn {
  width: 96%;
  margin: 10px 5px;
}

.rating_wrapper {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 96%;
}

.card {
  background-color: beige;
  border: black 1px solid;
  width: 290px;
  height: 290px;
  background-attachment: local;
  background-image: linear-gradient(to right, white 10px, transparent 10px),
    linear-gradient(to left, white 10px, transparent 10px),
    repeating-linear-gradient(
      white,
      white 30px,
      #ccc 30px,
      #ccc 31px,
      white 31px
    );
  line-height: 31px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  padding: 5px;
  float: left;
  margin: 5px;
}

.card-footer {
  text-align: right;
}
/*STAR RATING*/

.rating {
  border: none;
}

.rating > input {
  display: none;
}

.rating > label:before {
  content: "\f005";
  font-family: FontAwesome;
  margin: 8px;
  font-size: 1.5rem;
  display: inline-block;
  cursor: pointer;
}

.rating > .half:before {
  content: "\f089";
  position: absolute;
  cursor: pointer;
}

.rating > label {
  color: #ddd;
  float: right;
  cursor: pointer;
}

.rating > input:checked ~ label,
.rating:not(:checked) > label:hover,
.rating:not(:checked) > label:hover ~ label {
  color: #ffdc48;
}

.rating > input:checked + label:hover,
.rating > input:checked ~ label:hover,
.rating > label:hover ~ input:checked ~ label,
.rating > input:checked ~ label:hover ~ label {
  color: #ffdc48;
}
